<!DOCTYPE html>
<html lang="ru" ng-app="forexTraining">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/vendor/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="js/project.js"></script>
</head>
<body ng-controller="forexTrainingCtrl">
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <a data-toggle="modal" data-target="#fileload" class="btn btn-lg btn-primary">Данные</a>
                <div class="btn-group btn-group-lg">
                    <a id="timeframe_btn" class="btn btn-primary disabled dropdown-toggle" data-toggle="dropdown"> 1 мин <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in timeFrames">
                            <a href="#" ng-click="foo($event)">{{item.option}}<span class="hidden">{{item.id}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="btn-group btn-group-justified btn-group-lg">
                    <a href="#" class="btn btn-default btn-lg">Пуск</a>
                    <a href="#" class="btn btn-default btn-lg">Пауза</a>
                    <a href="#" class="btn btn-default btn-xs">Стоп</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-justified">
                        <a type="button" class="btn btn-default btn-lg">1</a>
                        <a type="button" class="active btn btn-default btn-lg">2</a>
                        <a type="button" class="btn btn-default btn-lg">3</a>
                        <a type="button" class="btn btn-default btn-lg">4</a>
                        <a type="button" class="btn btn-default btn-lg">5</a>
                        <a type="button" class="btn btn-default btn-lg">6</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-justified btn-group-lg">
                        <a type="button" class="btn btn-default btn-lg">1</a>
                        <a type="button" class="active btn btn-default btn-lg">2</a>
                        <a type="button" class="btn btn-default btn-lg">3</a>
                        <a type="button" class="btn btn-default btn-lg">4</a>
                        <a type="button" class="btn btn-default btn-lg">5</a>
                        <a type="button" class="btn btn-default">6</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fileload" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Загрузка файла котировок</h4>
            </div>
            <div class="modal-body">
                <input type="file" id="files" name="files[]" val="" />
                <br>
                <div class="progress hidden">
                    <div class="progress-bar" role="progressbar" style="width: 60%;">0% Загружено</div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="read-history-data" class="btn btn-primary disabled" >Загрузить</a>
                <a class="btn btn-default" data-dismiss="modal">Отмена</a>
                <a class="btn ok-btn btn-default disabled">Ок</a>
            </div>
        </div>
    </div>
</div>

<div class="chart">
    <div class="top-ruler" ng-style="topRulerWidth"></div>
    <div class="right-ruler">
            <div class="price-scale" ng-repeat="item in priceScale">--{{item}}</div>
    </div>
    <div class="chart_data-box"  ng-style="chartCSS">
        <h1 ng-bind="message"></h1>
        <input ng-model="message">
    </div>
</div>

</body>
</html>